ul#comment_list li.comment-item.active-replay {
    -webkit-box-shadow: 0px 0px 60px 0px rgba(61,152,255,1);
    -moz-box-shadow: 0px 0px 60px 0px rgba(61,152,255,1);
    box-shadow: 0px 0px 60px 0px rgba(61,152,255,1);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.comment-item .comment-info .attach .attach-image {
    background-image: url("../img/attach-photo.png");
}
.comment-item .comment-info .attach .attach-image:hover {
    background-image: url("../img/attach-photo-h.png");
}
.comment-item .comment-info .attach .attach-video {
    background-image: url("../img/attach-video.png");
}
.comment-item .comment-info .attach .attach-video:hover {
    background-image: url("../img/attach-video-h.png");
}

.comment-item.comment-item-reply-level-1 {
    margin-left: 40px;
}
.comment-item.comment-item-reply-level-2 {
    margin-left: 80px;
}
.comment-item.comment-item-reply-level-3 {
    margin-left: 120px;
}
.comment-item.comment-item-reply-level-4 {
    margin-left: 140px;
}
.comment-item.comment-item-reply-level-5 {
    margin-left: 160px;
}
.comment-item .comment-info span.show_tree {
    background-image: url('../img/show_tree_icon.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 7px;
    height: 10px;
    margin-left: 3px;
    cursor: pointer;
    margin-right: 3px;
}
.comment-item .comment-info span.show_tree:hover {
    background-position: -7px 0;
}
.comment-item .comment-info span.show_tree.active {
    background-position: -14px 0;
}
.comment-item .comment-info span.tree_top {
    cursor: pointer;
    color: #6da3bd;
}
.comment-item .comment-info span.tree_top:hover {
    color: #4d7285;
}
.comment_container .right-sidebar .media-list .video-item, .comment_container .right-sidebar .media-list .image-item {
    width: 210px !important;
}
.comment_container .right-sidebar .media-list img {
    width: 202px;
    height: 117px;
}
.comment_container .right-sidebar .media-list li {
    margin-bottom: 5px;
}