/* bottom form */
form#bottom_form ul.form-items {
    list-style: none;
    text-align: left;
}
form#bottom_form ul.form-items li {
    display: inline-block;
    margin-right: 5px;
}
form#bottom_form .title-grey {
    color: #a8b6c7;
    font-size: 11px;
    margin-top: 10px;
    text-align: left;
}
form#bottom_form table {
    width: 100%;
}
form#bottom_form table td {
    vertical-align: top;
}
form#bottom_form table td:nth-child(1) {
    text-align: center;
}
.panel .bottom-panel .right figure {
    margin: 0;
}

#panel-page-dark {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.50;
    top: 0;
    width: 100%;
    z-index: 1051;
    position: absolute;
    display: none;
}
#panel-page-dark #panel-page-loader {
    background-image: url('../img/ajax-loader.gif');
    width: 128px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -64px;
    z-index: 1052;
    background-color: #ffffff;
}
#slider-image {
    padding-top: 35px;
}
.panel .ui-tabs {
    padding: 0 !important;
}
.panel .swiper-wrapper.image-list {
    padding-top: 30px;
}
.panel .panel-slider-arrow {
    margin: -65px 0 0;
}
/* end bottom form */