#page-dark {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.50;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1061;
    display: none;
}
#page-dark #page-loader {
    display: none;
    background-image: url('../img/ajax-loader.gif');
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 1062;
    background-color: white;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
}
.modal-dialog {
    z-index: 1041;
}