.pointer {
    cursor: pointer;
}
.navbar-inverse {
    z-index: 1055;
}
ul.redactor-toolbar, .redactor-dropdown {
    z-index: 1 !important;
}
.wrapper main #content {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    border: 1px solid #e5e5e5;
    min-height: 200px;
    padding: 20px;
}
ul.nav.nav-list {
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    border: 1px solid #e5e5e5;
}
ul.nav.nav-list li {
    border-bottom: 1px solid #e5e5e5;
}
ul.nav.nav-list li.active a {
    background-color: #0088CC;
    color: #ffffff;
}
ul.nav.nav-list li:last-child {
    border-bottom: 0;
}
#customModal #replacement {
    margin-top: 100px;
}

/** USER */
.user-edit-block table td {
    vertical-align: top;
}
.user-edit-block table .avatar-block {
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px solid #BDC3C7;
    background-repeat: no-repeat;
}
.user-edit-block .avatar-block a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -41px;
}

.user-edit-block table .logo-block {
    width: 96px;
    height: 96px;
    position: relative;
    border: 1px solid #BDC3C7;
    background-repeat: no-repeat;
}
.user-edit-block .logo-block a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -28px;
}
/** END USER */
/** gymnasium */
.gymnasium-edit-block .logo-block {
    width: 96px;
    height: 96px;
    position: relative;
    border: 1px solid #BDC3C7;
    background-repeat: no-repeat;
}
.gymnasium-edit-block .logo-block a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -28px;
}
.gymnasium-edit-block .image-block {
    width: 300px;
    height: 150px;
    position: relative;
    border: 1px solid #BDC3C7;
    background-repeat: no-repeat;
}
.gymnasium-edit-block .image-block a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -70px;
}
/** end gymnasium */
/** FILTER */
.filter-h_image_link {
    height: 94px;
    width: 230px;
    position: relative;
    background-repeat: no-repeat !important;
    border: 1px solid #BDC3C7;
}
.filter-h_image_link a {
    position: absolute;
    left: 50%;
    margin-left: -19px;
    bottom: 10px;
}
.filter-v_image_link {
    width: 94px;
    height: 130px;
    position: relative;
    background-repeat: no-repeat !important;
    border: 1px solid #BDC3C7;
}
.filter-v_image_link a {
    position: absolute;
    bottom: 25px;
    left: 28px;
}
ul.filter-assign-list, ul.group-page-list {
    list-style: none;
}
/** END FILTER */
/** GALLERY */
.conf-choose-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    border: 1px solid #e5e5e5;
}
.conf-choose-list .location {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    padding: 10px 15px;
}
.conf-choose-list .location.sub-location {
    margin-left: 30px;
}
.conf-choose-list .location:last-child {
    border-bottom: 0;
}
.conf-choose-list .location:hover {
    background-color: #eee;
    cursor: pointer;
}
.image-file-block {
    height: 94px;
    width: 230px;
    position: relative;
    background-repeat: no-repeat !important;
    border: 1px solid #BDC3C7;
}
.image-file-block a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -58px;
}
#crop-dark {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.50;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1051;
    display: none;
}
#crop-block {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    border: 1px solid #e5e5e5;

    position: absolute;
    min-width: 600px;
    min-height: 300px;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    z-index: 1052;
    padding: 5px;

    display: none;
}
/** END GALLERY */
/** CHANNEL */
form#channel_form table {
    width: 100%;
}
form#channel_form table td {
    vertical-align: top;
}
form#channel_form ul {
    list-style: none;
}
form#channel_form #logo-file-block {
    height: 50px;
    width: 50px;
    position: relative;
    background-repeat: no-repeat !important;
    border: 1px solid #BDC3C7;
}
form#channel_form #logo-file-block a {
    position: absolute;
    bottom: -45px;
    left: -30px;
}
/** END CHANNEL */