* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 1300px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding-top: 100px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 75px;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 200px;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content {
    padding: 0 0 0 270px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
    float: left;
    width: 250px;
    margin-left: -100%;
    position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 1300px;
    margin: -200px auto 0;
    height: 200px;
    position: relative;
}