.form {
    padding: 20px;
}
#login.form, #registration.form {
    position: absolute;
    width: 580px;
    margin-left: -290px;
    left: 50%;
    top: 15%
}
#login.form .restore {
    text-align: right;
}
#login.form .form-actions, #registration.form .form-actions {
    text-align: center;
}

.form .form-title h2{
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.border-radius {
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.shadow {
    -webkit-box-shadow: 5px 4px 18px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 4px 18px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 4px 18px 0px rgba(50, 50, 50, 0.75);
}

.btn.sq {
    border-radius: 0;
    line-height: 10px;
}

.hidden-file {
    position: absolute;
    left: -2000px;
    top: -2000px;
}
#userpic, #imagepic {
    text-align: center;
    margin: 0 auto;
    position: relative;
}
#userpic .buttons {
    margin-top: 150px;
    margin-right: 75px;
    display: inline-block;
}
#imagepic .buttons {
    margin-top: 90px;
    margin-right: 155px;
    display: inline-block;
}
#userpic .buttons a, #imagepic .buttons a {
    z-index: 2;
    position: absolute;
}
.form input[type="password"], .form input[type="text"], .form select {
    height: 30px;
}
.form input[type="password"], .form input[type="text"], .form select, .form textarea {
    font-size: 11px;
    color: #96a4b4;
    padding: 2px 13px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dbe2e7;
}
.form textarea.form-control {
    color: #b6bec7;
    font-size: 11px;
    padding: 15px;
    resize: none;
    width: 100%;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    margin-top: 0;
}
.center {
    text-align: center;
}
/** image form */
form#image_form table, form#video_form table {
    width: 100%;
}
form#image_form ul, form#video_form ul {
    padding: 0;
    list-style: none;
}
form#image_form #assign_items li, form#video_form #assign_items li {
    display: inline-block;
}
form#image_form #assign_items li.item, form#video_form #assign_items li.item {
    margin-right: 5px;
    margin-bottom: 5px;
}
form#image_form #assign_items li span.label, form#video_form #assign_items li span.label {
    font-size: 11px;
}
form#image_form li, form#video_form li {
    position: relative;
}
form#image_form li .buttons, form#video_form li .buttons {
    position: absolute;
    right: -10px;
    top: 1px;
}
form#image_form td, form#video_form td {
    vertical-align: top;
}
form#image_form  td:nth-child(2) {
    width: 240px;
}
form#video_form  td:nth-child(2) {
    width: 49%;
}
/** end image form */
/** form report */
form#report_form div.col-sm-9 {
    width: 100%;
}
/** end */
/** pocket video */
.pocket-video.form textarea.form-control {
    width: 277px;
}
.pocket-video .buttons {
    margin-bottom: 3px;
    text-align: right;
}
.pocket-video .buttons a {
    padding: 6px 0;
    width: 30px;
}
.pocket-video #add_murk {
    margin-left: 10px;
}
.pocket-video table {
    margin-bottom: 10px;
}
.pocket-video table tr.pocket-item {
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}
.pocket-video table tr.pocket-item:last-child {
    border: 1px solid #e5e5e5;
}
/** end pocket */