/* line 14, ../scss/street.scss */
body.street-day {
    background: url("../img/street/back.jpg") repeat-x #dbe2e7;
}
body.street-night {
    background: url("../img/street/night_bg-x.jpg") repeat-x #abb9c5;
}
.page-wrapper.street-day {
    background: url("../img/street/street.jpg") 50% 0 no-repeat;
    overflow: hidden;
    height: 100%;
}
.page-wrapper.street-night {
    background: url("../img/street/street_night.jpg") 50% 0 no-repeat;
    overflow: hidden;
    height: 100%;
}
.action-list li.arena-hover {
    background-image: url("../img/street/arena.png");
    left: 1127px;
    top: 240px;
    height: 171px;
    width: 210px;
}
body.street-night .action-list li.arena-hover {
    left: 1120px;
}
/* line 55, ../scss/street.scss */
.action-list li.shop-hover {
    background-image: url("../img/street/shop.png");
    left: 911px;
    top: 212px;
    height: 153px;
    width: 209px;
}
body.street-night .action-list li.shop-hover {
    left: 905px;
}
/* line 63, ../scss/street.scss */
.action-list li.stadium-hover {
    background-image: url("../img/street/stadium.png");
    left: 281px;
    top: 170px;
    height: 216px;
    width: 281px;
}
body.street-night .action-list li.stadium-hover {
    left: 275px;
    top: 175px;
}
/* line 71, ../scss/street.scss */
.action-list li.horizontal-bars-hover {
    background-image: url("../img/street/horizontal-bars.png");
    left: 573px;
    top: 233px;
    height: 114px;
    width: 180px;
}
body.street-night .action-list li.horizontal-bars-hover {
    left: 568px;
}