.filter-list ul.image-list li a {
    padding-left: 3px;
}
.filter-list {
    width: 240px;
}
.filter-list .preview-box img {
    width: 160px;
    height: 80px;
}
.filter-list h2 {
    padding-left: 0;
    text-align: center;
}